:root {
  --background-color: #EAE7DC;
  --foreground-color: #D8C3A5;
  --text-color-muted: #8E8D8A;
  --text-color: #61605E;
  --red-dark-color: #E85A4F;
  --red-light-color: #E98074;
  --grey-border: #8E8D8A80;
}

body {
  background-color: var(--background-color);
  font-family: 'Red Hat Text', sans-serif;
  padding-top: 3em;
}

p, h5 {
  color: var(--text-color);
}

h1 {
  color: var(--red-dark-color);
}

h2, h3, h4 {
  color: var(--red-light-color);
}

.highlight {
  color: var(--red-light-color);
}

.navbar-light {
  background-color: var(--background-color);
}

.navbar {
  margin-top: 0;
  padding-top: 0;
}

.nav-text {
  color: black;
  font-size: .7em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.nav-item {
  border: .1em solid var(--grey-border);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.nav-item:hover {
  box-shadow: 1px 1px 0px 1px black;
}

.navbar-toggler {
  margin-top: .5em;
}

.resume-button {
  background-color: var(--foreground-color);
  color: black;
  font-size: .7em;
  font-weight: 700;
  border: none;
  margin-right: 1em;
}

.resume-text {
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  margin: 0;color: black;
  font-size: 1em;
  font-weight: 700;
}

.resume-button:hover {
  box-shadow: 1px 1px 0px 1px black;
  background-color: var(--foreground-color);
}

#navbarSupportedContent {
  margin-top: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
