:root {
  --main-color: #BCAF9C;
  --secondary-color: #FFFFFF;
  --text-color-light: white;
  --text-color-dark: black;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.fit-content {
  width: fit-content;
}

body {
  background-color: var(--main-color);
  font-family: Helvetica;
}

.container {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-color {
  background-color: rgba(0, 0, 0, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
