:root {
  --background-color: #EAE7DC;
  --forground-color: #D8C3A5;
  --text-color: #8E8D8A;
  --red-dark-color: #E85A4F;
  --red-light-color: #E98074;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.fit-content {
  width: fit-content;
}

body {
  background-color: var(--background-color);
  font-family: Helvetica;
}

p {
  color: var(--text-color)
}

h1 {
  color: var(--red-dark-color)
}

h2, h3, h4, h5 {
  color: var(--red-light-color)
}

span {
  color: var(--red-light-color)
}

.container {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-color {
  background-color: rgba(0, 0, 0, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
