{%- extends "bootstrap/base.html" %}

{% block title %}Calvin McClure{% endblock %}

{# enable fixes for legacy browsers #}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{super()}}

  {#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes #}
  {{fixes.ie8()}}

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='images/site.webmanifest')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" />

{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='base.css')}}">
{% endblock %}
