{% extends "nav.html" %}


{% block styles %}
{{ super() }}
<style media="screen">
  .scene-1 {
    margin-top: 3em;
  }

  .scene-2 {
    margin-top: 40em;
    margin-bottom: 10em;
    background-color: var(--forground-color);
  }

  .about-me-text {
    max-width: 60em;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .scene-1 {
      margin-top: 2em;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .scene-1 {
      margin-top: 5em;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .scene-1 {
      margin-top: 10em;
    }

    .about-me-text {
      font-size: 1.3em;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .scene-1 {
      margin-top: 15em;
    }

    .about-me-text {
      font-size: 2em;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .scene-1 {
      margin-top: 10em;
    }

    .about-me-text {
      font-size: 2em;
    }
  }
</style>
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="scene-1 row" id="scene-1">
      <div class="col">
        <div class="row">
          <h3>Hello World, my name is</h3>
        </div>
        <div class="row">
          <h1 class="display-1" style="font-family: sans-serif;">Calvin McClure 👋🏼</h1>
        </div>
      </div>
      <hr>
      <div class="col">
        <!-- <div class="row"> -->
          <p class="about-me-text">{{content.home.a|safe}}</p>
          <!-- <br> -->
          <p class="about-me-text">{{content.home.b|safe}}</p>
          <p class="about-me-text">{{content.home.c|safe}}</p>
        <!-- </div> -->
      </div>
    </div>
    <div class="scene-2 row fit-content" id="scene-2">
      <div class="col">
        <div class="row">
          <h2>About Me</h2>
        </div>
        <div class="row">
          <div style="height:0em;width:100%;border: 2px solid blue;">

          </div>
        </div>
      </div>
      <hr>
      <div class="col text-center">
        <div class="row">
          <p class="about-me-text">{{content.aboutMe}}</p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
