{% extends "nav.html" %}


{% block styles %}
{{ super() }}
<style media="screen">

  #keyboard-banner {
    opacity:75%;
    width:100%;
  }

  #email-banner {
    position:absolute;
    right:0;
    bottom:10%;
    height:25%;
    width:30%;
    background-color:var(--background-color);
  }

  #email-banner-text {
    color:black;
    font-size:1.5vw;
    margin-bottom:0;
    margin-left:5%;
    background-color: var(--background-color);
  }

  hr.email-banner-hr {
    border: 1px solid black;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  h4 {
    font-size: 3vw;
  }

  h5 {
    font-size: 2vw;
  }

  .home-text {
    width:80vw;
    padding-left:1.5em;
  }

  .home-text-padding-left {
    border-right: 1px solid red;
    width:2vw;
  }

  .home-text-container {
    margin-top:23vw;
    width:100vw;
    padding-left: 2em;
  }

  #home-main-text {
    font-weight:500;
    margin-top:-.2em;
  }

  .about-me-container {
    margin-top: 15vw;
    width: 100vw;
    height: 40vw;
  }

  .about-me-text {
    text-align:justify;
    margin-top: 1em;
  }

  .about-me-text-top {
    text-align:justify;
  }

  .about-me-img {
    float: right;
    margin: 1vw;
    margin-left:2vw;
    width: 13vw;
    border-radius: 1vw;
  }

  .about-me-link {
    color: inherit;
    text-decoration: none;
  }

  .about-me-link:hover {
    color: var(--red-dark-color);
    cursor:pointer;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .home-text-container {
      margin-top:15vw;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .home-text-container {
      margin-top:15.5vw;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .home-text {
      padding-left:2.5em;
    }
    .home-text-container {
      margin-top:16.5vw;
    }
    .home-text {
      width:70vw;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .home-text-container {
      margin-top:16.5vw;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }
</style>
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row" style="position:absolute;left:0;right:0;top:2em;">
      <div style="padding:0;">
        <img style="height:17vw;" id="keyboard-banner" src="{{url_for('static', filename='images/keyboard-cropped.jpeg')}}" alt="mechanical keyboard photo">
        <div id="email-banner">
          <div style="display:flex;align-items:center;height:100%;">
            <div class="col-9">
              <p id="email-banner-text">calvin.mcclure0917@gmail.com</p>
            </div>
            <div class="col-3">
              <hr class="email-banner-hr">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row home-text-container">
      <h4>Hello world, my name is</h4>
      <h1 id="home-main-text">Calvin McClure</h1>
      <div style="display:flex;">
        <div class="home-text-padding-left">
        </div>
        <div class="row">
          <div class="home-text">
            <h5>{{content.home.a|safe}}</h5>
          </div>
          <div class="home-text">
            <h5>- {{content.home.b|safe}}</h5>
          </div>
          <div class="home-text">
            <h5>- {{content.home.c|safe}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row about-me-container">
      <div class="col-1" style="background-image:url({{url_for('static', filename='images/car.jpeg')}})">
      </div>
      <div class="col-9" style="margin-left: 3vw; margin-top:1vw;">
        <div class="row">
          <div id="about-me">
            <h2 id="home-main-text">About Me</h2>
            <img class="about-me-img" src="{{url_for('static', filename='images/headshot.jpeg')}}" alt="Photo of Calvin McClure">
            <h5 class="about-me-text-top">Hi, my name is Calvin and I have had an interest in tech my whole life. When I was younger, I never imagined I would learn so much about how it works.</h5>
            <h5 class="about-me-text">My intro to web development started in high school at the <span class="highlight-link"><a class="about-me-link" href="https://west-mec.edu/coding/" target="_blank">coding West-MEC program</a></span> in 2015. After this, I was sure it was something I wanted to pursue professionally. So, I continued to Arizona State University where I have now completed my <span class="highlight-link"><a class="about-me-link" href="https://webapp4.asu.edu/programs/t5/majorinfo/ASU00/ESCSEIBS/undergrad/false?init=false&nopassive=true" target="_blank">Bachelors in Computer Science (Cyber Security)</a></span>.</h5>
            <h5 class="about-me-text">While at ASU, I have been programming professionally at <span class="highlight-link"><a class="about-me-link" href="https://www.xlr8dev.com/" target="_blank">XLR8 Development</a></span> honing my skills at web and mobile app development. I cannot wait to see where my degree and professional  experience will lead me to next. I am excited to learn new technologies and spread into new roles!</h5>
          </div>
        </div>
      <div class="col-2">

      </div>
    </div>
  </div>
{% endblock %}
